// Colors
$black: rgba(13, 13, 20, 1);
$dark-gray: rgba(159, 169, 192, 1);
$dark-slate-blue: rgba(73, 63, 133, 1);
$dark-slate-gray: rgba(51, 100, 71, 1);
$dim-gray: rgba(83, 81, 107, 1);
$gainsboro: rgba(219, 220, 235, 1);
$gainsboro-2: rgba(208, 211, 231, 1);
$gainsboro-3: rgba(213, 215, 231, 1);
$lavender: rgba(231, 231, 246, 1);
$lavender-2: rgba(233, 234, 248, 1);
$lime-green: rgba(72, 171, 38, 1);
$medium-slate-blue: rgba(130, 86, 255, 1);
$medium-slate-blue-2: rgba(118, 115, 255, 1);
$orchid: rgba(211, 94, 240, 1);
$transparent-cadet-blue: rgba(97, 187, 132, 0.73);
$transparent-dark-slate-gray: rgba(63, 77, 94, 0.46);
$transparent-medium-slate-blue: rgba(130, 86, 255, 0.54);
$violet: rgba(212, 131, 232, 1);
$white: rgba(255, 255, 255, 1);
$transparent-white: rgba(255, 255, 255, 0.5);
$transparent-purple: rgba(151, 161, 255, 0.32);
$text-low-opacity: 0.75;

.theme-colors {
  --black: $black;
  --dark-gray: rgba(159, 169, 192, 1);
  --dark-slate-blue: rgba(73, 63, 133, 1);
  --dark-slate-gray: rgba(51, 100, 71, 1);
  --dim-gray: rgba(83, 81, 107, 1);
  --gainsboro: rgba(219, 220, 235, 1);
  --gainsboro-2: rgba(208, 211, 231, 1);
  --gainsboro-3: rgba(213, 215, 231, 1);
  --lavender: rgba(231, 231, 246, 1);
  --lavender-2: rgba(233, 234, 248, 1);
  --lime-green: rgba(72, 171, 38, 1);
  --medium-slate-blue: rgba(130, 86, 255, 1);
  --medium-slate-blue-2: rgba(118, 115, 255, 1);
  --orchid: rgba(211, 94, 240, 1);
  --transparent-cadet-blue: rgba(97, 187, 132, 0.73);
  --transparent-dark-slate-gray: rgba(63, 77, 94, 0.46);
  --transparent-medium-slate-blue: rgba(130, 86, 255, 0.54);
  --violet: rgba(212, 131, 232, 1);
  --white: rgba(255, 255, 255, 1);
  --transparent-white: rgba(255, 255, 255, 0.5);
  --transparent-purple: rgba(151, 161, 255, 0.32);
  --text-low-opacity: 0.75;
}

.theme--light.v-application {
  //transition: color 0ms ease-in-out, background-color 0ms ease-in-out;
  background: var(--background);
  color: var(--text);
}

.light {
  --white: rgba(255, 255, 255, 1);
  --yellow: rgba(181, 146, 19, 1);
  --yellow-100: rgba(255, 222, 192, 1);
  --yellow-200: rgba(236, 130, 33, 1);
  --fountain-blue: rgba(103, 173, 195, 1);
  --lavander-magenta: rgba(233, 96, 202, 1);
  --primary: rgba(94, 84, 208, 1);
  --secondary: rgba(202, 202, 219, 1);
  --tertiary: rgba(162, 108, 53, 1);
  --info: rgba(160, 221, 255, 1);
  --positive: rgba(59, 219, 171, 1);
  --negative: rgba(255, 99, 99, 1);
  --primary-100: rgba(94, 84, 208, 1);
  --primary-200: rgba(117, 122, 204, 1);
  --primary-300: rgba(193, 188, 255, 1);
  --primary-400: rgba(64, 80, 222, 1);
  --primary-500: rgba(168, 85, 207, 1);
  --primary-600: rgba(147, 154, 193, 1);
  --primary-700: rgba(20, 20, 20, 1);
  --primary-800: rgba(118, 122, 251, 1);
  --primary-900: rgba(87, 83, 130, 1);
  --primary-1000: rgba(129, 84, 221, 1);
  --primary-1100: rgba(75, 96, 203, 1);
  --primary-1200: rgba(122, 80, 242, 1);
  --primary-1300: rgb(100, 104, 190);
  --primary-1400: rgba(120, 122, 166, 1);
  --primary-1500: rgb(78, 82, 184);
  --primary-1600: rgba(77, 52, 231, 1);
  --primary-1700: rgba(79, 76, 219, 1);
  --primary-1800: rgba(100, 84, 208, 1);
  --primary-1900: rgba(69, 121, 223, 1);
  --primary-2000: rgba(99, 112, 183, 1);
  --primary-2100: rgba(198, 171, 255, 1);
  --primary-2200: rgba(127, 118, 226, 1);
  --primary-2300: rgba(196, 135, 255, 1);
  --primary-2400: rgba(138, 136, 255, 1);
  --primary-2500: rgba(59, 220, 255, 1);
  --primary-2600: rgba(196, 191, 255, 1);
  --primary-2700: rgba(177, 79, 255, 1);
  --primary-2800: rgba(113, 115, 155, 1);
  --primary-2900: rgba(122, 129, 255, 1);
  --primary-3000: rgba(131, 135, 210, 1);
  --primary-3100: rgba(167, 169, 204, 1);
  --secondary-100: rgba(0, 0, 0, 0.46);
  --secondary-200: rgba(135, 137, 172, 1);
  --secondary-300: rgba(255, 255, 255, 0.71);
  --secondary-400: rgba(0, 0, 0, 0.46);
  --secondary-500: rgba(127, 122, 142, 1);
  --secondary-600: rgba(78, 79, 87, 1);
  --secondary-700: rgba(74, 75, 108, 1);
  --secondary-800: rgba(210, 211, 221, 1);
  --secondary-900: rgba(238, 239, 245);
  --secondary-1000: rgba(63, 65, 95, 1);
  --secondary-1100: rgba(91, 93, 132, 1);
  --secondary-1200: rgba(81, 83, 119, 1);
  --secondary-1300: rgba(235, 236, 242, 1);
  --secondary-1400: rgba(255, 255, 255, 1);
  --secondary-1500: rgba(112, 118, 140, 1);
  --secondary-1600: rgba(231, 232, 240, 1);
  --secondary-1700: rgba(191, 191, 197, 1);
  --secondary-1800: rgba(20, 20, 31, 0.65);
  --secondary-1900: rgba(231, 232, 240, 1);
  --secondary-2000: rgba(64, 66, 88, 1);
  --secondary-2100: rgba(227, 228, 244, 1);
  --secondary-2200: rgba(114, 123, 155, 1);
  --secondary-2300: rgb(177, 183, 204);
  --secondary-2400: rgba(183, 185, 207, 1);
  --secondary-2500: rgba(239, 239, 255, 1);
  --secondary-2600: rgba(231, 231, 246, 1);
  --secondary-2700: rgba(38, 38, 56, .7);  
  --secondary-2800: rgba(215, 216, 227, 1);  
  --secondary-2900: rgba(219, 220, 235, 1);
  --secondary-3000: rgba(220, 220, 233, 1);
  --secondary-3100: rgba(230, 231, 240, 1);
  --secondary-3200: rgba(230, 231, 240, 1);
  --secondary-3300: rgba(219, 220, 235, 1);
  --secondary-3400: rgba(175, 176, 202, 1);
  --secondary-3500: rgba(57, 58, 82, 1);
  --secondary-3600: rgba(76, 77, 105, 1);
  --secondary-3700: rgba(141, 143, 176, 1);
  --secondary-3800: rgba(119, 126, 144, 1);
  --secondary-3900: rgba(54, 56, 78, 1);
  --secondary-4000: rgba(58, 59, 82, 1);
  --secondary-4100: rgba(57, 58, 78, 1);
  --secondary-4200: rgba(80, 87, 112, 1);
  --secondary-4300: rgba(72, 73, 99, 1);
  --secondary-4400: rgba(96, 97, 113, 1);
  --secondary-4500: rgba(55, 57, 76, 1);
  --tertiary-100: rgba(255, 155, 70, 1);
  --button-active-shadow: rgba(75, 67, 163, 1);
  --background: rgba(226, 227, 234, 1);
  --pannel: rgba(231, 232, 240, 1);
  --pannel-dashboard: rgba(236, 237, 243, 1);
  --pannel-border: rgba(255, 255, 255, 1);
  --menu-background: rgba(219, 220, 235, 1);
  --menu-selected: rgba(255, 255, 255, 1);
  --nested-pannel: rgba(235, 236, 242, 1);
  --nested-pannel-border: rgba(80, 87, 112, 0.63);
  --nested-pannel-dashboard: rgba(230, 231, 240, 1);
  --pannel-secondary: rgba(213, 218, 229, 1);
  --active: rgba(130, 86, 255, 1);
  --selected: rgba(130, 86, 255, 1);
  --input: rgba(231, 231, 246, 1);
  --input-border:rgba(255, 255, 255, 1);
  --text: rgba(13, 13, 20, 1);
  --text2-dashboard: rgba(78, 79, 97, 1);
  --active-btn-text: white;
  --border: rgba(255, 255, 255, 1);
  --minimum-value: rgba(73, 63, 133, 1);
  --error: rgba(200, 36, 88, 1);
  --warning: rgba(233, 94, 136, 1);
  --success: rgba(94, 84, 208, 1);
  --btn-disabled: rgba(133, 134, 153, 1);
  --btn-secondary: rgb(161, 173, 230);
  --btn-secondary-text: rgb(255, 255, 255);
  --button: rgba(63, 77, 94, 0.2);
  --signout: rgba(118, 115, 255, 1);
  --signout-font: rgba(255, 255, 255, 1);
  --signout-font-button: rgba(255, 255, 255, 1);
  --overlay: rgba(128, 128, 128, 0.74);
  --connect-wallet-btn: rgba(130, 86, 255, 0.54);
  --connect-wallet-btn-txt: rgba(255, 255, 255, 1);
  --wallet-connection-text:rgba(88, 88, 136, 1);
  --wallet-connection-text-background: rgba(240, 241, 248, 1);
  --wallet-connection-text-background-border: rgba(255, 255, 255, 1);
  --wallet-connection-text-highlight:rgba(104, 64, 219, 1);
  --wallet-connection-buttons-background:rgba(231, 232, 240, 1);
  --wallet-connection-buttons-background-border:rgba(255, 255, 255, 1);
  --dashboard-title: rgba(130, 86, 255, 1);
  --total-locked-amount: rgba(105, 102, 255, 1);
  --interest-period-border: rgba(105, 102, 255, 1);
  --error-msg:rgba(255, 133, 95, 1);
  --separator:rgba(255, 255, 255, 0.03);
  --menu-btn:rgba(255, 255, 255, 1);
  --mobile-menu-item:rgba(59, 60, 81, 1);
  --mobile-menu-item-border:rgba(80, 87, 112, 0.63);
  --staking-info-background-on-mobile: rgba(58, 59, 82, 1);
  --confirmation-alert:rgba(130, 86, 255, 1);
  --confirming-alert:rgba(130, 86, 255, 1);
  --error-alert:#DE7C5B;
  --flexible-locked-tag: rgb(214 213 255);
  --flexible-locked-tag2:rgb(124 107 173);
  --option-selected:rgba(231, 232, 240, 1);
  --option-selected-text:rgba(13, 13, 20, 1);
  --buttons-text: rgba(255, 255, 255, 1);
  --pop-up-input: rgba(214, 215, 223, 1);
  --pop-up-input-border:rgba(255, 255, 255, 0.2);
  --stake-option-selected:rgba(231, 232, 240, 1);
  --stake-option:rgba(240, 241, 248, 1);
  --price-background:rgba(97, 187, 132, 0.73);
  --price-color:rgba(51, 100, 71, 1);
  --confirmation-text-alert:rgba(255, 255, 255, 1);
  --confirming-text-alert:rgba(255, 255, 255, 1);
  --error-text-alert:rgba(255, 255, 255, 1);
  --text-unselected:rgb(39 39 51 / 48%);
  --text-unselected-hover:rgb(39 39 51 / 38%);
  --text2:#00000075;
  --neg-price-background:#F3CED7;
  --neg-price-color:#FF7C7C;
  --search-mod: rgba(231, 232, 240, 1);
  --search-see-more:rgba(62, 49, 187, 1);
  --search-mod-border:rgb(60, 41, 236);
  --slippage-percent: rgba(200, 202, 219, 1);
  --volume-header: rgba(233, 234, 243, 1);
  --volume-header-border: white;
  --slippage-btn:rgba(206, 190, 252, 1);
  --slippage-tol:rgba(66, 64, 104, 1);
  --gray: rgb(98, 98, 136);
  --badge-text: rgba(255, 255, 255, 1);
  --primary-badge-background: rgba(94, 84, 208, 1);
  --secondary-badge-background: rgba(193, 197, 206, 1);
  --primary-gradient: linear-gradient(to bottom, #a34bb1e3, #bb7750e3);
  --primary-gradient-100: linear-gradient(to bottom, #8964B8, #9C7335);
  --primary-gradient-200: linear-gradient(to bottom, #DDA539, #B276FF);
  --primary-gradient-300: linear-gradient(to right, #6B57E8, #C58C4B);
  --primary-gradient-400: linear-gradient(to right, #e3e4f4, #effafd);
  --secondary-gradient: linear-gradient(to bottom, rgba(235, 236, 242, 1), rgba(219, 220, 235, 1));
  --secondary-gradient-100: linear-gradient(to bottom, #dbdceb, #dbdceb00);
  --secondary-gradient-200: linear-gradient(to bottom, #dbdceb00, #dbdceb);  
  --placeholder-gradient: linear-gradient(90deg, #e0e1eb 0%, #dbdceb 100%);
  --placeholder-gradient-100: linear-gradient(90deg, #e0e1eb 0%, #dbdceb 100%);
  --bg-social-button: rgba(102, 128, 194, 1);
  --bg-social-button-hover: rgba(102, 128, 194, .8);
  --bg-social-button-text: rgba(255, 255, 255, 1);
  --bg-social-button2: rgba(94, 84, 208, 1);
  --bg-social-button2-hover: rgba(94, 84, 208, 0.89);
  --wallet-connect-button: rgba(118, 115, 255, 1);
  --wallet-connect-text: rgba(255, 255, 255, 1);
  --swap-secondary-text: rgba(78, 79, 97, 1);
  --inside-dialog-card-border: rgba(80, 87, 112, 1);
  --inside-dialog-card-background: rgba(193, 197, 206, 1);
  --tooltip-bg: rgba(231, 232, 240, 1);
  --pool-accordion-border: rgba(255, 255, 255, 1);
  --pool-accordion-outer-background: rgba(226, 227, 234, 1);
  --pool-accordion-inner-background: rgba(240, 241, 248, 1);
  --card-background: rgba(231, 232, 240, 1);
  --card-border: rgba(255, 255, 255, 1);
  --card-nested-background: rgba(230, 231, 240, 1);
  --card-nested-border: rgba(80, 87, 112, 0.63);
  --tab-background: rgba(219, 220, 235, 1);
  --tab-border: rgba(255, 255, 255, 1);
  --tab-background-active: rgba(255, 255, 255, 1);
}

.dark {
  --white: rgba(255, 255, 255, 1);
  --yellow: rgb(163, 162, 157);
  --yellow-100: rgba(255, 222, 192, 1);
  --yellow-200: rgba(235, 198, 144, 1);
  --fountain-blue: rgba(76, 119, 172, 1);
  --lavander-magenta: rgba(233, 96, 202, 1);
  --primary: rgba(94, 84, 208, 1);
  --secondary: rgba(75, 73, 99, 1);
  --tertiary: rgba(162, 108, 53, 1);
  --info: rgba(160, 221, 255, 1);
  --positive: rgba(59, 219, 171, 1);
  --negative: rgba(255, 99, 99, 1);
  --primary-100: rgba(191, 185, 255, 1);
  --primary-200: rgba(198, 200, 237, 1);
  --primary-300: rgba(193, 188, 255, 1);
  --primary-400: rgba(64, 80, 222, 1);
  --primary-500: rgba(168, 85, 207, 1);
  --primary-600: rgba(59, 66, 102, 1);
  --primary-700: rgba(177, 195, 255, 1);
  --primary-800: rgba(118, 122, 251, 1);
  --primary-900: rgba(87, 83, 130, 1);
  --primary-1000: rgba(203, 178, 255, 1);
  --primary-1100: rgba(75, 96, 203, 1);
  --primary-1200: rgba(122, 80, 242, 1);
  --primary-1300: rgba(165, 169, 250, 1);
  --primary-1400: rgba(120, 122, 166, 1);
  --primary-1500: rgba(141, 144, 193, 1);
  --primary-1600: rgba(77, 52, 231, 1);
  --primary-1700: rgba(79, 76, 219, 1);
  --primary-1800: rgba(194, 184, 255, 1);
  --primary-1900: rgba(69, 121, 223, 1);
  --primary-2000: rgba(99, 112, 183, 1);
  --primary-2100: rgba(198, 171, 255, 1);
  --primary-2200: rgba(127, 118, 226, 1);
  --primary-2300: rgba(196, 135, 255, 1);
  --primary-2400: rgba(138, 136, 255, 1);
  --primary-2500: rgba(59, 220, 255, 1);
  --primary-2600: rgba(196, 191, 255, 1);
  --primary-2700: rgba(177, 79, 255, 1);
  --primary-2800: rgba(113, 115, 155, 1);
  --primary-2900: rgba(122, 129, 255, 1);
  --primary-3000: rgba(131, 135, 210, 1);
  --primary-3100: rgba(167, 169, 204, 1);
  --secondary-100: rgba(255, 255, 255, 0.48);
  --secondary-200: rgba(62, 64, 90, 1);
  --secondary-300: rgba(255, 255, 255, 0.71);
  --secondary-400: rgba(255, 255, 255, 0.61);
  --secondary-500: rgba(127, 122, 142, 1);
  --secondary-600: rgba(175, 176, 184, 1);
  --secondary-700: rgba(74, 75, 108, 1);
  --secondary-800: rgba(58, 59, 85, 1);
  --secondary-900: rgba(61, 62, 90, 1);
  --secondary-1000: rgba(63, 65, 95, 1);
  --secondary-1100: rgba(91, 93, 132, 1);
  --secondary-1200: rgba(81, 83, 119, 1);
  --secondary-1300: rgba(51, 52, 73, 1);
  --secondary-1400: rgba(48, 49, 73, 1);
  --secondary-1500: rgba(112, 118, 140, 1);
  --secondary-1600: rgba(41, 43, 63, 1);
  --secondary-1700: rgba(191, 191, 197, 1);
  --secondary-1800: rgba(20, 20, 31, 0.65);
  --secondary-1900: rgba(42, 43, 62, 1);
  --secondary-2000: rgba(64, 66, 88, 1);
  --secondary-2100: rgba(64, 65, 91, 1);
  --secondary-2200: rgba(72, 77, 95, 1);
  --secondary-2300: rgba(109, 118, 150, 1);
  --secondary-2400: rgba(62, 63, 87, 1);
  --secondary-2500: rgba(54, 53, 79, 1);
  --secondary-2600: rgba(38, 38, 56, 1);
  --secondary-2700: rgba(38, 38, 56, .7);  
  --secondary-2800: rgba(42, 43, 64, 1);  
  --secondary-2900: rgba(49, 50, 70, 1);
  --secondary-3000: rgba(52, 53, 78, 1);
  --secondary-3100: rgba(52, 53, 73, 1);
  --secondary-3200: rgba(56, 57, 78, 1);
  --secondary-3300: rgba(44, 45, 63, 1);
  --secondary-3400: rgba(75, 77, 110, 1);
  --secondary-3500: rgba(57, 58, 82, 1);
  --secondary-3600: rgba(76, 77, 105, 1);
  --secondary-3700: rgba(141, 143, 176, 1);
  --secondary-3800: rgba(119, 126, 144, 1);
  --secondary-3900: rgba(54, 56, 78, 1);
  --secondary-4000: rgba(58, 59, 82, 1);
  --secondary-4100: rgba(57, 58, 78, 1);
  --secondary-4200: rgba(80, 87, 112, 1);
  --secondary-4300: rgba(72, 73, 99, 1);
  --secondary-4400: rgba(96, 97, 113, 1);
  --secondary-4500: rgba(55, 57, 76, 1);
  --tertiary-100: rgb(211, 129, 52, 1);
  --button-active-shadow: rgba(75, 67, 163, 1);
  --background: rgba(36, 37, 55, 1);
  --pannel: rgba(49, 50, 70, 1);
  --pannel-dashboard: rgba(49, 50, 70, 1);
  --pannel-border: rgba(80, 87, 112, 0.43);
  --menu-background: rgba(49, 50, 70, 1);
  --menu-selected: rgba(38, 38, 56, 1);
  --nested-pannel: rgba(58, 59, 82, 1);
  --nested-pannel-border: rgba(80, 87, 112, 0.63);
  --nested-pannel-dashboard: rgba(59, 60, 81, 1);
  --pannel-secondary: rgba(62, 63, 87, 1);
  --active: rgba(94, 84, 208, 1);
  --selected: rgba(47, 48, 66, 1);
  --input: rgba(38, 38, 56, 1);
  --input-border:rgba(255, 255, 255, 0.1);
  --text: white;
  --text2:#C8C8CF;
  --text2-dashboard: rgba(186, 186, 210, 1);
  --active-btn-text: white;
  --border: rgba(58, 59, 82, 1);
  --minimum-value: rgba(230, 190, 255, 1);
  --error: rgba(200, 36, 88, 1);
  --warning: rgba(233, 119, 94, 1);
  --success: rgba(70, 176, 138, 1);
  --button: rgba(63, 77, 94, 0.67);
  --signout: rgba(166, 160, 255, 0.09);
  --signout-font: rgba(151, 161,255,1);
  --signout-font-button: rgb(250, 250, 250);
  --overlay: rgba(17,17,25, 0.74);
  --connect-wallet-btn: rgba(77, 137, 255, 0.14);
  --connect-wallet-btn-txt: rgba(135, 159, 255, 1);
  --wallet-connection-text:rgba(255,255,255,0.61);
  --wallet-connection-text-background: rgba(59, 60, 81, 0.35);
  --wallet-connection-text-background-border: rgba(80, 87, 112, 0.33);
  --wallet-connection-text-highlight:rgba(96, 128, 183, 1);
  --wallet-connection-buttons-background:rgba(59, 60, 81, 1);
  --wallet-connection-buttons-background-border:rgba(80, 87, 112, 0.33);
  --dashboard-title: rgba(207, 168, 255, 1);
  --total-locked-amount: rgba(191, 190, 255, 1);
  --interest-period-border: rgba(210, 194, 255, 1);
  --btn-secondary: rgba(44, 52, 87, 1);
  --btn-secondary-text: rgba(135, 159, 255, 1);
  --btn-disabled:rgba(52, 55, 82, 1);
  --error-msg:rgba(255, 133, 95, 1);
  --separator:rgba(255, 255, 255, 0.03);
  --menu-btn:rgba(255, 255, 255, 1);
  --mobile-menu-item:rgba(59, 60, 81, 1);
  --mobile-menu-item-border:rgba(80, 87, 112, 0.63);
  --staking-info-background-on-mobile: rgba(58, 59, 82, 1);
  --confirmation-alert:rgba(94, 84, 208, 1);
  --confirming-alert: rgba(94, 84, 208, 1);
  --error-alert:rgba(115, 67, 51, 1);
  --flexible-locked-tag: #fed6ff1c;
  --flexible-locked-tag2:rgba(255, 255, 255, 1);
  --option-selected:rgba(47, 48, 66, 1);
  --option-selected-text:rgba(255, 255, 255, 1);
  --buttons-text: rgba(255, 255, 255, 1);
  --pop-up-input: rgba(38, 38, 56, 1);
  --pop-up-input-border:rgba(255, 255, 255, 0.2);
  --stake-option-selected:rgba(47, 48, 66, 1);
  --stake-option:rgba(38, 38, 56, 1);
  --price-background:rgba(49, 96, 67, 0.53);
  --price-color:rgba(101, 207, 143, 1);
  --confirmation-text-alert:rgba(255, 255, 255, 1);
  --confirming-text-alert:rgba(255, 255, 255, 1);
  --error-text-alert:rgba(255, 255, 255, 1);
  --text-unselected:rgb(225 225 228 / 55%);
  --text-unselected-hover:rgb(225 225 228 / 35%);
  --neg-price-background:#5F3B43;
  --neg-price-color:#FF7C7C;
  --search-mod: rgb(28, 31, 46);
  --search-see-more:rgba(131, 248, 255, 1);
  --search-mod-border:rgb(138 110 250);
  --slippage-percent: rgb(73, 77, 105);
  --volume-header: rgba(60, 50, 136, 1);
  --volume-header-border: rgba(97, 87, 169, 1);
  --slippage-btn:rgba(190, 133, 28, 1);
  --slippage-tol:rgba(186, 183, 242, 1);
  --gray: rgba(186, 186, 210, 1);
  --badge-text: rgba(255, 255, 255, 1);
  --primary-badge-background: rgba(94, 84, 208, 1);
  --secondary-badge-background: rgba(81, 82, 114, 1);
  --primary-gradient: linear-gradient(to bottom, #a34bb1e3, #bb7750e3);
  --primary-gradient-100: linear-gradient(to bottom, #8964B8, #9C7335);
  --primary-gradient-200: linear-gradient(to bottom, #DDA539, #B276FF);
  --primary-gradient-300: linear-gradient(to right, #6B57E8, #C58C4B);
  --primary-gradient-400: linear-gradient(to right, #373551, #353D51);
  --secondary-gradient: linear-gradient(to bottom, rgba(51, 52, 73, 1), rgba(45, 46, 62, 1));
  --secondary-gradient-100: linear-gradient(to bottom, #2C2D3F, #2C2D3F00);
  --secondary-gradient-200: linear-gradient(to bottom, #2C2D3F00, #2C2D3F);  
  --placeholder-gradient: linear-gradient(90deg, #494C65 0%, #474961 100%);
  --placeholder-gradient-100: linear-gradient(90deg, #37384B 0%, #2E2F41 100%);
  --bg-social-button: rgba(47, 48, 66, 1);
  --bg-social-button-hover: rgb(96 111 130 / 30%);
  --bg-social-button-text: rgba(192, 193, 199, 1);
  --bg-social-button2: rgba(44, 52, 87, 1);
  --bg-social-button2-hover: rgba(44, 52, 87, .8);
  --wallet-connect-button: rgba(166, 160, 255, 0.09);
  --wallet-connect-text: rgba(151, 161,255,1);
  --swap-secondary-text: rgba(151, 152, 162, 1);
  --inside-dialog-card-border: rgba(80, 87, 112, 1);
  --inside-dialog-card-background: rgba(62, 63, 87, 1);
  --tooltip-bg: rgba(60, 62, 87, 1);
  --pool-accordion-border: rgba(47, 53, 71, 1);
  --pool-accordion-outer-background: rgba(43, 44, 63, 1);
  --pool-accordion-inner-background: rgba(51, 52, 73, 1);
  --card-background: rgba(49, 50, 70, 1);
  --card-border: rgba(80, 87, 112, 0.43);
  --card-nested-background: rgba(56, 57, 78, 1);
  --card-nested-border: rgba(64, 66, 88, 1);
  --tab-background: rgba(44, 45, 63, 1);
  --tab-border: rgba(63, 65, 86, 1);
  --tab-background-active: rgba(63, 65, 86, 1);
}
.v-dialog__container {
    display: unset; 
}
a {
  border:none!important;
}
.menu-wrapper.small-screen-adapt
{
  justify-content: center!important;
}


$font-family: "Source Sans Pro", sans-serif;

.v-application {
  [class*='text-'], .title {
    font-family: $font-family !important;
  }
  font-family: $font-family !important;
}

html,
body {
  font-family: $font-family;
  background-color: rgba(36, 37, 55, 1);

  .v-application {
    font-family: "Source Sans Pro", sans-serif;
  }

  .v-application a {
    text-decoration: none;
    color: var(--text);
    transition: color .3s ease-out, background-color .3s ease-out;
  }
}

input {
  caret-color: var(--text);
  color: var(--text);
}

.staking-dashboard-cols
{
  min-width: 959px!important; 
  max-width: 1211px!important;
}

.bubl
{
  background:rgb(31, 31, 34);
  margin-left:-16px;
  margin-right:-16px;
  margin-top:-16px;
  margin-bottom:-16px;
  border:solid;
  border-color:rgb(31, 31, 34);
  border-radius:11px;
  border-width:6px;
  padding:5px;
}

// Typographies
@mixin source-code-pro-27-regular {
  font-family: "Source Code Pro";
  font-size: 27px!important;
  font-weight: 400;
  line-height: 42px;
}
@mixin source-sans-pro-13-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 13px!important;
  font-weight: 600;
  line-height: 19px;
}
@mixin source-sans-pro-13-semi-bold-line20 {
  font-family: "Source Sans Pro";
  font-size: 13px!important;
  font-weight: 600;
  line-height: 20px;
}
@mixin source-sans-pro-14-bold {
  font-family: "Source Sans Pro";
  font-size: 14px!important;
  font-weight: 700;
  line-height: 21px;
}
@mixin source-sans-pro-14-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 14px!important;
  font-weight: 600;
  line-height: 21px;
}
@mixin source-sans-pro-15-regular {
  font-family: "Source Sans Pro";
  font-size: 15px!important;
  font-weight: 400;
  line-height: 23px;
}
@mixin source-sans-pro-15-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 15px!important;
  font-weight: 600;
  line-height: 22px;
}
@mixin source-sans-pro-16-regular {
  font-family: "Source Sans Pro";
  font-size: 16px!important;
  font-weight: 400;
  line-height: 25px;
}
@mixin source-sans-pro-16-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 16px!important;
  font-weight: 600;
  line-height: 25px;
}
@mixin source-sans-pro-17-regular {
  font-family: "Source Sans Pro";
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}
@mixin source-sans-pro-17-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 17px!important;
  font-weight: 600;
  line-height: 26px;
}
@mixin source-sans-pro-18-regular {
  font-family: "Source Sans Pro";
  font-size: 18px!important;
  font-weight: 400;
  line-height: 28px;
}
@mixin source-sans-pro-18-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 18px!important;
  font-weight: 600;
  line-height: 28px;
}

@mixin source-sans-pro-18-bold {
  font-family: "Source Sans Pro";
  font-size: 18px!important;
  font-weight: 700;
  line-height: 28px;
}
@mixin source-sans-pro-20-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 20px;
  font-weight: 600;
  line-height: 31px;
}

@mixin source-sans-pro-24-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 19px!important;
  font-weight: 600;
  line-height: 37px;
}
@mixin source-sans-pro-27-regular {
  font-family: "Source Sans Pro";
  font-size: 27px!important;
  font-weight: 400;
  line-height: 42px;
}

@mixin source-sans-pro-27-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 27px!important;
  font-weight: 600;
  line-height: 42px;
}

@mixin source-sans-pro-30-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 30px!important;
  font-weight: 600;
  line-height: 42px;
}

@mixin source-sans-pro-11-semi-bold {
  font-family: "Source Sans Pro";
  font-size: 11px!important;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

.v-dialog
{
  box-shadow:none!important;
  margin-top:-40px;

  margin: 0.25rem;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.logo-top {
  width: 130px;

  &.small {
    width: auto;
    height: 35px;
  }
}

.switch {
  padding: 8px;
  background-color: var(--button);
  border-radius: 7px;
  margin-bottom: -7px;
  width: 32px;
}

.switch:hover{
  background-color: rgb(96 111 130 / 20%);

}

.staking-details-btn.disabled
{
  .staking-details{
    cursor: not-allowed;
  }
  .flexible-staking
  {
    cursor: not-allowed;
  }
}

.contract-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-color: #bb393900 !important;
  border-bottom:solid;
 border-width:0.5px;
}
.contract-name:hover {
  border-color: #ffffff !important;
  border-bottom:solid;
 border-width:0.5px;
}

.flex-wrapper-twenty-six {
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.dashboard {
  width: 75px;
  color: var(--text);
  margin-right: 9px;
  font-weight: 600;
  @include source-sans-pro-16-regular;
}

.check-staking{
  // right:0;
  // left:0;
  // top:0;
  // margin-top:auto;
  // margin-bottom:auto;
  // margin-left:auto;
  // margin-right: auto;
  // bottom:0;
  // position:absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  width: 100%;
  height:auto;
  z-index: 2;
}

.staking.header
{
  @include source-sans-pro-20-semi-bold;
  margin-left:15px;
}

.staking-info
{
  margin-left:15px;
  margin-right:15px;
}

.staking-info .item
{
  margin-bottom:-25px;
  align-items: center;
}

.staking-info .item .labels
{
  //line-height: 28px!important;
  @include source-sans-pro-14-semi-bold;
  //margin-left: 15px;
}
.interest-period
{
  border-left: 2px solid var(--interest-period-border);
  padding-left: 16px;
}
.staking-info .item .results
{
  @include source-sans-pro-14-semi-bold;
  text-align: right;
  //line-height: 28px!important;
  //margin-right:15px;
}

.staking-info .item .total-locked-amount
{
  color: var(--total-locked-amount);
  @include source-sans-pro-17-semi-bold;
  margin-bottom: -5px;
}

.smak-staking-data {
  width: 149px;
  color: var(--dashboard-title);
  text-align: center;
  @include source-sans-pro-18-semi-bold;
}

.smak-number-title {
  color: var(--text2);
  margin-bottom: 22px;
  @include source-sans-pro-16-semi-bold;
}

.smak-number-value {
  @include source-sans-pro-20-semi-bold;
}

.rectangle-532 {
  background-color: var(--price-background);
  color: var(--price-color);
  border-radius: 4px;
  padding: 0px 6px;
  margin-left: 16px;
  width: 60px;
  display: inline-block;
  text-align: center;
  @include source-sans-pro-13-semi-bold;
}

.rectangle-532.negative{
  background-color: var(--neg-price-background);
  color: var(--neg-price-color);
}

.confirm-stake{
  height:66px;
  color: var(--active-btn-text);
  background: var(--connect-wallet-btn);
  cursor: pointer;
  @include source-sans-pro-24-semi-bold;
}

.menu-btn
{
  height:20px;
  color: var(--meun-btn)!important;
  padding: 0px 0px 8px 8px;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 200;
  background: var(--background);
 


  @media screen and (min-width: 959px) {
    position: relative;
    background: transparent;
}
}

.mobile-menu {
  position: absolute;
  top: 100%;
  right: 34px;
  width: 250px;
  margin-top: 10px;
  background: var(--pannel);
  border-radius: 13px;
  z-index: 9999;

  .item,
  a.item {
    text-align:center;
    display: block;
    margin: 15px 10px;
    background: var(--mobile-menu-item);
    border: 0.5px solid var(--mobile-menu-item-border) !important;
    padding: 13px;
    border-radius: 13px;
    @include source-sans-pro-16-semi-bold;

  }
}

.num-2 {
  height: 20px;
  width: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 60px;
  top: 9px;
  @include source-sans-pro-13-semi-bold;
}

.h-layout {
  display: flex;
  // align-items: flex-start;
  &:not(:last-of-type) {
    margin-bottom: 18px;
    &.big {
      margin-bottom: 54px;
    }
  }
}

.staking-dashboard-cols{
  min-width: 1024px; 
  max-width: 1063px;
}

.pannel.graph-pannel {
  padding: 27px 17px 14px 30px;
  max-width: 802px;
  min-width: 610px;
  height: 452px;
  margin-left:16px;
}

.pannel.stake{
  max-width: 457px;
  min-width: 355px;
  margin-left: 16px;
}

.pannel.staking-details-pannel{
  min-width: 550px;
  max-width: 704px;
  margin-right:16px;
}

.pannel.stats:last-child{
  min-width: 300px;
  max-width: 362px;
  margin-right:16px;
}

.pannel.stats:first-child{
  max-width: 402px;
  margin-left: 16px;
}

.pannel.stats{
  min-width: 297px;
  max-width: 390px;
}

.pannel.contract-details{
  min-width: 300px;
  max-width: 362px;
  margin-right:16px;
}


.flex-wrapper-thirty-one {
  margin-bottom: 25px;
  padding: 0 0 0 1px;
  display: flex;
  align-items: flex-start;
}

.flex-wrapper-twenty-three {
  margin-right: 369px;
  position: relative;
}

.smak-staking-analysis {
  height: 25px;
  width: 193px;
  color: var(--text);
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  @include source-sans-pro-17-semi-bold;
}

.user-address{
  position: relative;
  top: -3px;
  overflow: hidden;
  padding: 3px 0;
  background: var(--signout);
  @include source-sans-pro-18-regular;
  color: var(--signout-font);
  border-radius: 7px;
  margin-left: 8px;
  width: 153px;
  text-align: center;
  cursor:auto!important;
}

.signout{
  position: relative;
  top: -3px;
  padding: 3px 20px;
  background: var(--signout);
  @include source-sans-pro-18-regular;
  color: var(--signout-font-button);
  border-radius: 7px;
  margin-left: 8px;
}
.signout:hover{
  background-color: rgb(118 115 255 / 25%);
}

.connect-wallet{
  position: relative;
  top: -3px;
  padding: 3px 20px;
  background: var(--signout);
  @include source-sans-pro-18-regular;
  color: var(--signout-font);
  border-radius: 7px;
  margin-left: 8px;
}

.bubble{

  background:black;
 
}
.info-bubble {
  padding: 0.75px 0 1.5px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 25px;
 
}

.ellipse-84 {
  width: 25px;
  height: 25px;
  background-color: $transparent-purple;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.question-mark {
  width: 9px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  position: absolute;
  left: 9px;
  top: -1px;
  @include source-sans-pro-18-bold;
}

.flex-wrapper-twenty-one {
  width: 780px;
  background-size: 100% 100%;
  background-position: center;
  background: url("https://static.overlay-tech.com/assets/ba570172-f11b-416d-b41a-61f81378c98e.svg"),
    url("https://static.overlay-tech.com/assets/24b1839b-2d96-4203-957c-0f3b8dc3f898.svg");
  position: absolute;
  left: -1px;
  top: 128px;
}

.chart echarts{

  height: 320px;;
}

.pannel.text-pannel {
  padding: 11px 26px;
}

.smak-staking-contract-details {
  width: 221px;
  color: var(--text);
  text-align: center;
  margin-top: 16px;
  margin-bottom: 33px;
  @include source-sans-pro-17-semi-bold;
}

.contract-details-line {
  margin-bottom: 21px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  color: var(--text);
  @include source-sans-pro-15-regular;
}

.contract-details-line-title {
}
.contract-details-line-value {
  &.small {
    max-width: 120px;
  }
}

.tezos-mainnet {
  color: var(--text);
  @include source-sans-pro-15-regular;
  position: relative;
}

.ellipse-76 {
  width: 7px;
  height: 7px;
  background-color: $lime-green;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: -3px;
  position: relative;
  top: 50%;
}

.section-header {
  color: var(--text);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-top: -31px;
  @include source-sans-pro-27-semi-bold;
}

.pannel {
  position: relative;

  background-color: var(--pannel);

  border-radius: 20px;
  padding: 1.5rem;

  border: 1px solid var(--pannel-border);

  margin: 0;
  flex-grow: 1;
}


.v-layout > .pannel:not(:last-child) {
  margin-bottom: 18px;
}

// .column {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-start;
//   position: relative;
// }

.my-staking-details {
  color: var(--text);
  display: flex;
  align-items: center;
  margin-bottom: 17px;
  margin-top: 20px;
  margin-left: 8px;
 
  @include source-sans-pro-20-semi-bold;
}

.staking-details-info {
  background-color: var(--nested-pannel);
  margin-bottom: 17px;
  border-radius: 20px;
  padding: 11px 10px 17px 11px;
  border: 1px solid $transparent-white;
  
  border: 1px solid var(--pannel-border);
  display: flex;
  margin-top: 27px;
  justify-content: space-around;
}
.button-column {
  padding: 0 6px;
}

.button-column.unstake-title{
}

.button-column.redeem-title{
}

.staking-details-info-title {
  color:var(--text2);
  margin-top: 7px;
  text-align: center;
  @include source-sans-pro-15-semi-bold;
}

.staking-details-info-value {
  color: var(--text);
  text-align: center;
  margin-top: 6px;
  margin-bottom: -2px;
  @include source-sans-pro-20-semi-bold;
}

.stacking-details-actions {
  display: flex;
}

.stacking-details-action-wrapper {
  flex-grow: 1;
  position: relative;
  &:not(:last-of-type) {
    margin-right: 19px;
  }

  background-color: $gainsboro-2;
  background-color: var(--nested-pannel);

  border-radius: 20px;
  padding: 0px 13px 13px;
  position: relative;
  text-align: center;
  border: 1px solid $transparent-white;
 
  border: 1px solid var(--pannel-border);
}

.alert.confirmation{
  background: var(--confirmation-alert);
  color: var(--confirmation-text-alert);
}

.alert.notsuccessful{
  background: var(--error-alert);
  color: var(--error-text-alert);
}

.alert.confirming{
  background: var(--confirming-alert);
  color: var(--confirming-text-alert);
  line-height: 26px;
}

.alert{
  z-index: 208;
  position: absolute;
  top: 70px;
  right: 15px;
  border-radius: 30px !important;
  display:flex;
  padding: 7px 26px 7px 26px;
  @include source-sans-pro-15-semi-bold;
}
.staking-details-btn {
  
  background-color: var(--active);
  border-radius: 13px;
 
}

.staking-details {
  color: $white;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  @include source-sans-pro-16-semi-bold;
}

.staking-details-btn:hover {
 
  background-color: rgb(94 84 208 / 73%);
   
 }

.error-msg
{
  color: var(--error-msg)

}

.wallet-connection-dialog {
  background: var(--pannel);
  border: 1px solid var(--border);
  color: var(--text);

  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: 600;

  position: relative;

  border-radius: 12px;

  .dialog-title {
    padding: 20px 46px;
    @include source-sans-pro-18-semi-bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text {
    padding: 10px 23px;
    @include source-sans-pro-15-semi-bold;
    color: var(--wallet-connection-text);
    background: var(--wallet-connection-text-background);
    border: 1px solid var(--wallet-connection-text-background-border);
    border-radius:13px;
    margin: 0px 26.2px;
  }

  .highlight {
    color: var(--wallet-connection-text-highlight)
  }

  .wallet-button{
    @include source-sans-pro-18-semi-bold;
    border: 1px solid var(--wallet-connection-buttons-background-border);
    background-color: var(--wallet-connection-buttons-background);
    border-radius: 13px;
    padding: 10px 20px;
    text-align:center;
    width: 183px;
    cursor: pointer;
  }

  .wallet-buttons-wrapper{
    display: flex;
    padding: 21px 26.2px 23px 26.2px;
    justify-content: space-between;
  }
  

  .header {
    font-size: 1.2em;
  }
  .details {
    margin: 1em 0;
    font-weight: 400;
  }

  .error-box {
    background: rgba(255, 116, 116, 0.08);
    padding: 1em;
  }

  .text-error {
    color: rgba(200, 36, 88, 1);
    color: var(--error);
  }

  .gray {
    opacity: 0.7;
  }
  
  .input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--pop-up-input);
    margin: 0.2em 0;
    border: 1px solid var(--pop-up-input-border);
    padding: 0.7em;
    border-radius: 17px;

    input {
      color: var(--text);
      height: 35px;
      max-width: 250px;
      font-size: 1em;
      @include source-sans-pro-30-semi-bold
    }
  }
  img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    }
  

  .v-btn {
    font-size: 1.2em !important;
    color: var(--text) !important;
  }

  table {
    width: 100%;
    font-size: 0.8em;
    border-collapse: collapse;
    td {
      text-align: center;
    }
    tr {
      border-bottom: 0.5em solid transparent;
      border-right: 2px solid transparent;
    }
  }

  .btn.large.disabled
  {
    cursor: not-allowed;
  }

}
.relative-wrapper-five {
  margin-right: 20px;
  position: relative;
}

.flexible-staking {
  color: $white;
  align-items: center;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  @include source-sans-pro-16-semi-bold;
}

.staking-details-img {
  margin-top: 21px;
  margin-bottom: 16px;
  height: 55px;
}

.stake-options {
  background-color: var(--stake-option);
  border-radius: 17px;
  padding: 9px;
  margin-top: 10px;
  margin-bottom: 30px;
  max-width: 615px;
  min-height: 57px;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  justify-content: stretch;
  & > div {
    flex-grow: 1;
  }
}

.stake-options-item {
  flex-grow: 1;
  color: var(--text-unselected);
  text-align: center;
  padding: 4px;
  cursor: pointer;
  
  font-size: 18px!important;
  @include source-sans-pro-20-semi-bold;

  &.selected {
    color: var(--option-selected-text);
    background-color: var(--option-selected);
    padding: 4px;
    border-radius: 13px;
  }
}

.stake-options-item:hover{

  color:var(--text-unselected-hover);
  &.selected {
    color: var(--option-selected-text);
    
    
  }
}

.staking-options-recap
{
  @include source-sans-pro-16-semi-bold;
  line-height: 35px!important;
}


.menu {
  background-color: var(--menu-background);
  border-radius: 17px;
  height: 47px;
  display: flex;
  padding: 4px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 540px;
  @media screen and (min-width: 1400px) {
    left: 50%;
  }
  transform: translate(-50%,-50%);
  & > div {
    flex-grow: 1;
  }
}

.menu-item {
  flex-grow: 1;
  color: var(--text);
  text-align: center;
  width: 100%;
  padding: 7.5px 28.65px;
  cursor: pointer;
  @include source-sans-pro-15-semi-bold;
  transition: color .3s;

  &.selected {
    color: var(--text);
    background-color: var(--menu-selected);
    border-radius: 13px;
  }
}

.menu-item:hover {

  color: var(--text-unselected);
}

:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

.stake-options.tiny .stake-options-item {
  font-size: 1em;
  &.selected {
    background-color: $gainsboro;
    background-color: var(--stake-option-selected);
  }
}

.group-565 {
  background-color: $medium-slate-blue;
  background-color: var(--active);
  margin-right: 75px;
  border-radius: 13px;
  padding: 1px 56px 1px 52px;
}

.group-556 {
  margin-right: 98.67px;
  display: flex;
  align-items: center;
}

.group-552 {
  margin-right: 10.26px;
  padding: 0.6px 7.51px 4.08px 0;
  position: relative;
}

.separator{
  border: 1px solid var(--separator);
  height:53px;
  border-radius:20px;
  margin-top:auto;
}

.stake-smak {
  color: var(--text);
  margin-top: -5px;
  min-width: 101px;
  @include source-sans-pro-20-semi-bold;
}

.flexible-tag {
  background-color: var(--flexible-locked-tag);
  border-radius: 11px;
  padding: 4px;
  width: 123px;
  cursor:default;
  border-color: #ffffff26 !important;
  margin-left: 32px;
  color: var(--flexible-locked-tag2);
  text-align: center;
  border: solid;
  border-width: 1px !important;
  text-transform: uppercase;
  @include source-sans-pro-15-semi-bold;
}

.balance-smak {
  height: 29px;
  color: var(--text2);
  margin-left: 6px;
  min-width: 176px;
  @include source-sans-pro-13-semi-bold-line20;
}

.stake-max {
  height: 29px;
  color: var(--text2);
  margin-left: 6px;
  @include source-sans-pro-13-semi-bold-line20;
}

.smak-input-wrapper {
  background-color: var(--input);
  margin-bottom: 7px;
  border-radius: 13px;
  padding: 3px 14px 3px 15px;
  border: 1px solid $transparent-white;
  border: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
 
  @include source-sans-pro-27-regular;
  color: #9fa9c0;
}


.smak-input-wrapper:hover {
 
  border: solid;
  border: 0.2px solid #6588C1!important;
}


.smak-input-wrapper input {
  height: 40px;
  width: 206px;
  @include source-code-pro-27-regular;
  color: var(--text);
  border: none !important;
  width:100%;
  margin-right:5px;
  
}

.stake-smak-with-tag
{
  align-items: center;
  margin-bottom: 29px;
}

.connect-wallet-btn {
  background-color: var(--connect-wallet-btn);
  border-radius: 15px;
  padding: 14px;
  cursor: pointer;
  transition: 0.1s;
  color: var(--connect-wallet-btn-txt);
  text-align: center;
  @include source-sans-pro-16-semi-bold;
}


.connect-wallet-btn.connected {
  background-color: var(--active);
  color: var(--active-btn-text);
  margin-top: 5px;
  transition: 0.1s;
}
.connect-wallet-btn.connected:hover {
 
 background-color: rgb(94 84 208 / 89%);
  
}

.connect-wallet-btn.disabled{
  cursor :not-allowed;
}
.minimum-value {
  @include source-sans-pro-13-semi-bold;
  color: #493f85;
  color: var(--minimum-value);
  text-align: right;
  margin-bottom: 14px;
}


@media screen and (max-width: 959px) {
  
  .alert.confirmation{
    background: var(--confirmation-alert);
  }
  
  .alert.notsuccessful{
    background: var(--error-alert);
  }
  
  .alert.confirming{
    background: var(--confirming-alert);
    
  }
  
  .dialog-overlay
  {
    background-color: var(--overlay);
    width: 100%;
    height:100%;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 100%;
    height:100%;
    z-index: 1;
  }
  .alert{
    //position: absolute;
    //top: 100px;
    //right: 35px;
    border-radius: 13px !important;
    display:flex;
    padding: 12px 23px;
    @include source-sans-pro-15-semi-bold;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    width: 155px;
    height:auto;
    z-index: 2;
  }

  .button-column{
    width: 60px;
  }
  .button-column.unstake-title{
    width: 38px;
  }
  
  .button-column.redeem-title{
    width: 89px;
  }
  .rectangle-532 {
    margin-right: 16px;
  }

  .staking-dialog table{
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
  }
  .staking-info
  {
    background: var(--staking-info-background-on-mobile);
    border-radius:10px;
    margin:10px;
    padding: 20px;
    padding-bottom: 30px;
  }

  @media screen and (max-width: 500px) {
    .user-address
    {
      width:100px;
    }
  }


  @media screen and (max-width: 959px){
.my-staking-details{
    margin-top: 50px !important;
  }
  }

  .staking-dialog .text.staking-options-recap 
  {
    padding: 0.5em!important;
  }
  .pannel.staking-details-pannel
  {
    min-width: 200px;  max-width: 400px;
  }
  .staking-dashboard-cols
  {
    min-width: 0px!important;  max-width: 650px!important;
  }

  .h-layout {
    flex-direction: column;
    &:not(:last-of-type) {
      &.big {
        margin-bottom: 18px;
      }
    }
  }

  .hide-on-mobile {
    display: none !important;
  }

  .pannel {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  .pannel.transparent-on-mobile {
    background: 0;
    border: 0;
    padding: 0;
  }


.pannel.stake{
  min-width: 0px!important;
  max-width:  none!important;
  margin-left:0px;
}

.pannel.staking-details-pannel{
  min-width: 0px!important;
  max-width:  none!important;
  margin-right:0px;
}

.pannel.stats:last-child{
  min-width: 0px!important;
  max-width:  none!important;
  margin-right:0px;
}

.pannel.stats:first-child{
  min-width: 0px!important;
  max-width:  none!important;
  margin-left:0px;
}

.pannel.stats{
  min-width: 0px!important;
  max-width:  none!important;
  margin-top: 20px;

}

.pannel.contract-details{
  min-width: 0px!important;
  max-width:  none!important;
  margin-right:0px;
}

  .section-header-on-mobile {
    @include source-sans-pro-27-semi-bold;
  }

  .staking-details-info {
    // justify-content: space-between;
    //TODO : another breakpoint ?
  }
  .stacking-details-actions {
    flex-direction: column;
  }
  .stacking-details-action-wrapper {
    border: 0;
    background: 0;
    padding-left: 0;
    padding-right: 0;
    &:not(:last-of-type) {
      margin-right: 0;
    }
    img {
      display: none;
    }
  }

  .smak-number-title {
    margin: 0;
    opacity: $text-low-opacity;
  }
  .smak-number-value,
  .smak-number-title {
    @include source-sans-pro-13-semi-bold;
  }

  .row-on-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .staking-details-info-title,
  .staking-details-info-value {
    @include source-sans-pro-13-semi-bold;
  }

  .staking-details-info-title {
    opacity: $text-low-opacity;
  }

  .contract-details-line-value {
    opacity: $text-low-opacity;
  }

  .stake-options{
    margin-bottom: 25px;
  }
.chart{
  font-size:12px !important;
}
  .staking-dialog .btn.tiny{
    margin-top: 0px;
    border-radius: 10px!important;
    height:22px!important;
    padding:0px;
    max-width: 52px;
    cursor: pointer;
  }
}
.btn.tiny.btn-success {
  margin-top: 0px;
}
.btn.tiny.btn-disabled {
  margin-top: 0px;
}
.btn.tiny.btn-warning {
  margin-top: 0px;
}


.btn {
  min-width: 100px;
  padding: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7em;
  cursor: pointer;

  &.large {
    font-size: 1em;
  }

  &.tiny {
    font-size: 1em;
    padding: 0.1em 0.5em;
    min-width: auto;
    max-width: 87px;
    border-radius: 20px;
    height:25px;
  }

  &.btn-error {
    background: rgba(200, 36, 88, 1);
    background: var(--error);
    color: var(--buttons-text);
  }
  &.btn-warning {
    background: rgba(233, 119, 94, 1);
    background: var(--warning);
    color: var(--buttons-text);
  }
  &.btn-success {
    background: rgba(70, 176, 138, 1);
    background: var(--success);
    color: var(--buttons-text);
  }
  &.btn-disabled {
    background: var(--btn-disabled);
    cursor: not-allowed !important;
    color: var(--bg-social-button-text);
  }

  &.btn-secondary {
    background: var(--bg-social-button2) !important;
    color: var(--btn-secondary-text);
    transition: none;

    * {
      transition: none;
      color: var(--bg-social-button-text) !important;
    }

    &:hover {
      background-color: var(--bg-social-button2-hover) !important;
      * {
        color: var(--bg-social-button-text) !important;
      }
    }
  }

  &.btn-primary {
    background: var(--bg-social-button);
    color: var(--bg-social-button-text);

    &:hover{
      background-color: var(--bg-social-button-hover);
    }
  }

}

.footer-btn {
  padding: 0.688rem 0.8rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 0;

  &:hover {
    transition: all 0.3s;
  }

  .icon {
    position: relative;
    top: 1px;
    font-weight: normal !important;
    font-size: 0.8rem !important;
  }

  &.btn-secondary {
    color: blue;
    &:hover {
    }
  }
}

// Custom PopHover

.pop-container {
  position: relative;
}

.pop {
  display: none;
  min-width: 170px;
  background-color: var(--tooltip-bg);
  border-radius: 9px;
  padding: 12px 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3rem;
  text-align: left;

  color: var(--text);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  margin-left: -8px;
  margin-bottom: -8px;
  border: .2px solid rgba(80, 87, 112, .63);
}

.right .pop-btn + .pop {
  transform: translateX(0);
}

.left .pop-btn + .pop {
  transform: translateX(-90%)
}

.bottom-left .pop-btn + .pop {
  transform: translateX(-90%);
  top: 20px;
}

.pop-btn {
  cursor: pointer;
}

.pop-btn:hover + .pop {
  display: block;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(0.9);
  }
}

.v-dialog__container {
  display: unset; 
}

.v-dialog__content {
  align-items: start;
  top: 3rem;
}
